<div class="card city elevation-{{elevation}} corner-roundness-{{corner-roundness}}" style="background-image:url({{path '/imgs/Amsterdam.jpg'}})">
    <div class="content">
        <div class="countrycity-container">
            <h3>Netherlands</h3>
            <h1>Amsterdam</h1>
        </div>
        <p>Lorem ipsun dolor sit a met lorem dolor sit a met factius lorem ipsun dolor sit a met ipsun lorem amet</p>
        {{> @button }}
    </div>
</div>