@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
// variables
// $card-width: 80%;
$card-height: 300px;
$h-color: white;    

.card {
    width: auto;
    height: $card-height;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/bg-blog-card.jpg) no-repeat;
    background-size: auto;

    &:hover {
        transition: 2.8ms;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    }
}

h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: $h-color;
    font-family: 'Roboto', sans-serif;
}

.elevation-0 {
    box-shadow: none;
}
.elevation-1 {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.elevation-2 {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.elevation-3 {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}
.elevation-4 {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}


.corner-roundness-0 {
    border-radius: 0px;
}

.corner-roundness-1 {
    border-radius: 5px;
}

.corner-roundness-2 {
    border-radius: 10px;
}

.corner-roundness-3 {
    border-radius: 15px;
}

.corner-roundness-4 {
    border-radius: 20px;
}